{% extends "BaseView.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div id="alertContainer" class="toast-container position-fixed top-0 end-0 p-3"></div>
    {% for article in articles %}
        {% include "partials/ReviewCard.twig" %}
    {% endfor %}

    <script src="/web-semestralni_prace/src/js/ArticlesManagement.js"></script>
{% endblock %}