<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/web-semestralni_prace/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/web-semestralni_prace/src/css/base.css">
        <link rel="stylesheet" href="/web-semestralni_prace/src/css/auth.css">
        <link rel="stylesheet" href="/web-semestralni_prace/src/css/articleDetail.css">
        <link rel="stylesheet" href="/web-semestralni_prace/src/css/publishForm.css">
        <title>{% block title %}My Application{% endblock %}</title>
        <base href="http://localhost/web-semestralni_prace/src/">
    </head>
    <body id="body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="navbar-nav">
                <a class="nav-item nav-link fs-5 {% if current_path == '/' %}active{% endif %}" href="">Home</a>
                {% if app.user %}
                    {% if app.user.role_id <= role.role_id.ROLE_ADMIN %}
                        <a class="nav-item nav-link fs-5 {% if current_path == '/users' %}active{% endif %}" href="users">Users list</a>
                        <a class="nav-item nav-link fs-5 {% if current_path == '/articles-management' %}active{% endif %}" href="articles-management">Articles management</a>
                    {% endif %}
                    {% if app.user.role_id != role.role_id.SUPERADMIN %}
                        <a href="publish" class="nav-item nav-link fs-5">Publish article</a>
                    {% endif %}
                {% endif %}
            </div>
            <div id="rightAlign" class="navbar-nav ms-auto">
                {% if not app.user %}
                    <a class="nav-item nav-link fs-5 {% if current_path == '/login' or current_path == '/register' %}active{% endif %}" href="login">Log In</a>
                {% else %}
                {% if app.user.role_id != role.role_id.SUPERADMIN %}
                    <a class="nav-item nav-link fs-5 {% if current_path == '/profile' or current_path == '/profile/edit' %}active{% endif %}" href="profile">Profile</a>
                {% endif %}
                    <p id="loggedUser">{{ app.user["first_name"] }} {{ app.user["last_name"] }}</p>
                    <a id="logoutButton" class="nav-item nav-link fs-5" href="logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                            <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
                        </svg>
                        Log Out
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>

    {%  block content %} {% endblock %}
    </body>
</html>

<script src="/web-semestralni_prace/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/web-semestralni_prace/node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="/web-semestralni_prace/node_modules/jquery/dist/jquery.js"></script>