{% extends "BaseView.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle profile-img" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="Profile Image">
                    <span class="font-weight-bold">{{ app.user.first_name }} {{ app.user.last_name }}</span>
                    <span class="text-black-50">{{ app.user.email }}</span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="profile-settings-header">Profile Details</h4>
                    </div>
                    {% include 'partials/ProfileDetails.twig' with {'user': app.user} %}
                    <a class="btn btn-primary" href="profile/articles">Articles</a>
                    <a class="btn btn-info" href="">For review</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
