{% extends "BaseView.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div id="publishForm" class="container mt-5">
        <form class="row g-3" method="post" enctype="multipart/form-data">
            <div class="col-12">
                <label for="titleInput" class="form-label">Title</label>
                <input type="text" class="form-control" id="titleInput" name="title" required>
            </div>
            <div class="col-12">
                <label for="abstract" class="form-label">Abstract</label>
                <textarea class="form-control" id="abstract" name="abstract" required rows="3"></textarea>
            </div>
            <div class="col-md-5 col-12">
                <label for="file" class="form-label">File</label>
                <input type="file" class="form-control" id="file" name="file" required>
            </div>
            <div class="col-12 text-center">
                <button id="submitArticle" type="submit" class="btn btn-success w-25">Publish Article</button>
            </div>
        </form>
    </div>
{% endblock %}
