{% extends "BaseView.twig" %}

{% block title %} User Management {% endblock %}

{% block content %}
    <div id="alertContainer" class="position-fixed top-0 end-0 p-3"></div>

    {% include "partials/userTable.twig" %}

    <script src="/web-semestralni_prace/src/js/UserManagement.js"></script>
{% endblock %}
