<div class="info-section">
    <div class="row">
        <div class="col-md-6">
            <span class="label-text">First Name:</span>
            <p class="value-text"><strong>{{ user.first_name }}</strong></p>
        </div>
        <div class="col-md-6">
            <span class="label-text">Last Name:</span>
            <p class="value-text"><strong>{{ user.last_name }}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="label-text">Email:</span>
            <p class="value-text"><strong>{{ user.email }}</strong></p>
        </div>
        <div class="col-md-6">
            <span class="label-text">Role:</span>
            <p class="value-text"><strong>{{ user.role_name }}</strong></p>
        </div>
    </div>
</div>
