#authForm{
    background-color: #75acfb;
    padding: 50px;
    border: 1px solid black;
    border-radius: 20px;
}

#noDecor{
    text-decoration: none;
}

#noDecor:hover{
    text-decoration: underline;
}