#body{
    background-color: #CBD6EC;
}

#loggedUser{
    color: grey;
    margin: 0;
}

#rightAlign{
    gap: 1vw;
    display: flex;
    align-items: center;
}

#logoutButton{
    gap: 0.5vw;
}

.profileEditButtons{
    margin-top: 1vw;
    display: flex;
    gap: 2vw;
}

@media only screen and (max-width: 992px) {
    #rightAlign {
        align-items: normal;
        gap: 0;
        margin-top: 3vw;
    }
}

.banned .strike{
    text-decoration: line-through;
    color: darkgrey;
}

.mg-b{
    margin-bottom: 1rem;
}

.dp-f{
    display: flex;
    border-radius: 50%;
}

.fixed{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.alert-success {
    background-color: #28a745; /* Bright green */
    color: white;
}

.alert-danger {
    background-color: #dc3545; /* Bright red */
    color: white;
}

.alert-warning {
    background-color: #ffc107; /* Bright yellow */
    color: black;
}

.alert-info {
    background-color: #17a2b8; /* Bright blue */
    color: white;
}