#body{
    background-color: #CBD6EC;
}

.label-text{
    font-weight: bold;
}

.table{
    width: 70%;
    margin: 5vw auto auto;
}

#homeArticles{
    display: flex;
    margin: 2vw;
}

.navbar{
    font-size: 1.3vw;
}