#submitArticle{
    width: 20%;
    display: block;
    margin: auto;
}

#publishForm{
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

#abstract{
    height: 20vw;
}

@media only screen and (max-width: 800px) {
    #abstract {
        height: 30vh;
    }

    #submitArticle{
        width: 50%;
    }
}