#submitArticle{
    width: 10vw;
    display: block;
    margin: auto;
}

#publishForm{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
}

#abstract{
    height: 20vw;
}